@(title: String)(blogForm: Form[Blogs])(tagForm: Form[Tags])(user: Users)

@main(title) {
  <div class="row">
    <div class="col-md-9 index-blogs">
      @helper.form(action = routes.BlogsController.create, 'class -> "form-group") {
        @inputForm(blogForm)(tagForm)(new Blogs)
        @tags.selectTagModal(blogForm)
      }
    </div>
    <div class="col-md-3">
      <a href="#" class="btn-upload-image btn btn-youScene" url="@routes.ImagesController.upload">画像アップロード</a>
      <input id="image" type="file">
      <div class="row upload-list">
        @for(image <- user.images) {
<img src="@routes.ImagesController.renderImage(image.id)">
	  <div class="col-thumbnail btn-group">
	    <a id="image_id_@image.id" class="thumbnail dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><img src="@routes.Assets.at(image.relativePath)" alt="@image.imageName"></img></a>
	    <ul class="dropdown-menu" role="menu">
	      <li><a image_id="@image.id" class="image-insert-article" href="#">この画像を本文に挿入</a></li>
	      <li><a image_id="@image.id" class="image-destory" href="#">この画像を削除する</a></li>
	    </ul>
	  </div>
        }
        <script id="uploadTemplate" type="text/x-jquery-tmpl">
	  <div class="col-thumbnail">
	    <a class="thumbnail"><img src="@routes.Assets.at("${path}")" alt=${name}></img></a>
	  </div>
	</script>
      </div>
    </div>
  </div>
}
