@(title: String)(page: Integer)

@main(title) {
  @for(content <- Contents.findPagingList(page)) {
    <div class="index-content">
      <div class="index-title"><a href="@routes.Blog.show(content.id)">@content.title</a></div>
      <div class="row">
        <span class="col-md-date">@content.updatedDate.format("yyyy/MM/dd")</span>
        <span class="col-md-name">@content.author.name</span>
	@for(tag <- content.tags) {
          <span class="col-md-tag">@tag.tagName</span>
        }
      </div>
    </div>
  }
  <nav>
    <ul class="pager">
      @if(page == 1) {
        <li class="disabled"><a href="#">前のページ</a></li>
      } else {
        <li><a href="@routes.Blog.index(page-1)">前のページ</a></li>
      }
      @if(Contents.isLastPage(page)) {
        <li class="disabled"><a href="#">次のページ</a></li>
      } else {
        <li><a href="@routes.Blog.index(page+1)">次のページ</a></li>
      }
    </ul>
  </nav>
}
