@(content: Contents)

@main(content.title) {
  <div class="row">
    <div class="col-md-9 show-content">
      <div class="show-header">
        <div class="show-title">@content.title</div>
	@for(tag <- content.tags) {
	  <a href="@routes.TagsController.tagsContents(tag.id)" class="show-tag tag">@tag.tagName</a>
	}
        <soan class="show-date">@(content.updatedDate.format("yyyy年M月d日 HH時M分"))</span>
      </div>
      <pre class="show-article">@Html(content.article)</pre>
      <div class="show-footer">
        @if(YouScene.loginUser.isAuthor(content)) {
          <div class="operate-content-btn">
            <a class="btn btn-sm btn-youScene" href="@routes.Blog.edit(content.id)">編集</a>
            @helper.form(action = routes.Blog.delete(content.id), 'class -> "delete-content") {
              <input class="btn btn-sm btn-default" type="submit" value="削除" onclick="return window.confirm('削除します。よろしいですか?')">
            }
          </div>
        }
        <div class="feedback-count">
          @if(YouScene.loginUser.isAuthor(content)) {
            <span>アクセス <a href="@routes.AccessesController.accesses(content.id)">@content.accesses.size</a>回</span>
          } else {
            <span>アクセス @content.accesses.size回</span>
          }
          <div>
            @if(YouScene.loginUser.liked(content)) {
              <a class="btn btn-xs btn-youScene disabled">いいね！</a>
            } else {
              <a class="btn btn-xs btn-youScene btn-like" content="@content.id" url="@routes.LikesController.like(content.id)">いいね！</a>
            }
            @if(YouScene.loginUser.isAuthor(content)) {
              <a href="@routes.LikesController.likes(content.id)" class="like-count">@content.likes.size</a>回
            } else {
              <span class="like-count">@content.likes.size</span>回
            }
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="show-author">@(content.author.name)(@content.author.sectionName)</div>
      <div class="latest-contents">
        <h3>最新の記事</h3>
        @for(content <- Contents.findLatestContents()) {
          <div class="latest-content">
            <a href="@routes.Blog.show(content.id)">@content.title</a>
          </div>
        }
      </div>
    </div>
  </div>
}
