@(content: Contents)

@main(content.title) {
  <div class="row">
    <div class="col-md-9 show-content">
      <div class="show-content-header">
        <div class="show-title">@content.title</div>
        <div class="show-date">@(content.updatedDate.format("yyyy/MM/dd HH:mm"))</div>
      </div>
      <pre class="show-article">@Html(content.article)</pre>
      <div class="row">
        <div class="col-md-9">
          <div class="btn-operation-content">
            <a class="btn btn-sm btn-youScene btn-edit" href="@routes.Blog.edit(content.id)">編集</a>
            @helper.form(action = routes.Blog.delete(content.id)) {
              <input class="btn btn-sm btn-default" type="submit" value="削除" onclick="return window.confirm('削除します。よろしいですか?')">
            }
          </div>
        </div>
        <div class="col-md-3 feedback-count">
          <div>
            <div>アクセス @content.accesses.size回</div>
            <div>
              @if(content.liked(YouScene.loginUser)) {
                <a class="btn btn-xs btn-youScene disabled">いいね！</a>
                <span>@content.likes.size回</span>
              } else {
                @helper.form(action = routes.Blog.like(content.id)) {
                  <input class="btn btn-xs btn-youScene" type="submit" value="いいね！">
                   <span>@content.likes.size回</span>
                }
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="show-author">@(content.author.name)(@content.author.sectionName)</div>
    </div>
  </div>
}
