@(content: Contents)(latestContents: List[Contents])

@main(content.title) {
  <div class="row">
    <div class="col-md-9 show-content">
      <div class="show-content-header">
        <div class="show-title">@content.title</div>
        <div class="show-date">@(content.updatedDate.format("yyyy/MM/dd HH:mm"))</div>
      </div>
      <pre class="show-article">@Html(content.article)</pre>
      <div class="show-footer">
        <div class="operate-content-btn">
          @if(YouScene.loginUser.isAuthor(content)) {
            <a class="btn btn-sm btn-youScene" href="@routes.Blog.edit(content.id)">編集</a>
            @helper.form(action = routes.Blog.delete(content.id), 'class -> "delete-content") {
              <input class="btn btn-sm btn-default" type="submit" value="削除" onclick="return window.confirm('削除します。よろしいですか?')">
            }
          }
        </div>
        <div class="feedback-count">
          @if(YouScene.loginUser.isAuthor(content)) {
            アクセス <a href="@routes.AccessesController.accesses(content.id)">@content.accesses.size</a>回
          } else {
            アクセス @content.accesses.size回
          }
          <div>
            @if(content.liked(YouScene.loginUser)) {
              <a class="btn btn-xs btn-youScene disabled">いいね！</a>
            } else {
              @helper.form(action = routes.Blog.like(content.id), 'class -> "add-like") {
                <input class="btn btn-xs btn-youScene" type="submit" value="いいね！">
              }
            }
          @if(YouScene.loginUser.isAuthor(content)) {
            <a href="@routes.LikesController.likes(content.id)">@content.likes.size</a>回
          } else {
            @content.likes.size回
          }
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="show-author">@(content.author.name)(@content.author.sectionName)</div>
      <div class="latest-contents">
        <h3>最新の記事</h3>
        @for(content <- latestContents) {
          <div class="latest-content">
            <a href="@routes.Blog.show(content.id)">@content.title</a>
          </div>
        }
      </div>
    </div>
  </div>
}
