@(tag: Tags)

@main(tag.tagName+"のついた記事一覧") {
  <h4>
    <span>@tag.tagName のついた記事一覧</span>
  </h4>
  @for(content <- tag.contents) {
    <div class="index-content">
      <div class="index-title"><a href="@routes.Blog.show(content.id)">@content.title</a></div>
      <div class="index-content-info row">
	<span class="col-md-date">@content.updatedDate.format("yyyy/MM/dd")</span>
	<span class="col-md-name">@content.author.name</span>
	@for(tag <- content.tags) {
	  <a href="@routes.TagsController.tagsContents(tag.id)" class="col-md-tag tag">@tag.tagName</a>
	}
      </div>
    </div>
  }
}
